<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c)  2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Generic Integration test suite">
    <test name="org.wso2.das">
        <classes>
            <class name="org.wso2.extension.siddhi.store.rdbms.DefineRDBMSTableTestCaseIT" />
            <class name="org.wso2.extension.siddhi.store.rdbms.DeleteFromRDBMSTableTestCaseIT" />
            <class name="org.wso2.extension.siddhi.store.rdbms.InsertIntoRDBMSTableTestCaseIT" />
            <class name="org.wso2.extension.siddhi.store.rdbms.JoinRDBMSTableTestCaseIT" />
            <class name="org.wso2.extension.siddhi.store.rdbms.ReadEventRDBMSTableTestCaseIT" />
            <class name="org.wso2.extension.siddhi.store.rdbms.UpdateOrInsertRDBMSTableTestCaseIT" />
            <class name="org.wso2.extension.siddhi.store.rdbms.UpdateRDBMSTableTestCaseIT" />
            <class name="org.wso2.extension.siddhi.store.rdbms.set.SetUpdateOrInsertRDBMSTableTestCaseIT" />
            <class name="org.wso2.extension.siddhi.store.rdbms.set.SetUpdateRDBMSTableTestCaseIT" />
            <class name="org.wso2.extension.siddhi.store.rdbms.query.StoreQueryTableTestCaseIT"/>
        </classes>
    </test>
    <test name="Aggregation test cases">
        <classes>
            <class name="org.wso2.extension.siddhi.store.rdbms.aggregation.IncrementalAggregationTestCaseIT"/>
            <class name="org.wso2.extension.siddhi.store.rdbms.aggregation.AggregationFilterTestCaseIT"/>
            <class name="org.wso2.extension.siddhi.store.rdbms.aggregation.DistributedAggregationTestCaseIT" />
        </classes>
    </test>
</suite>